body {
    background-color: #0094ff;
}

header {
    background-color: white;
    height: 10%;
    position: fixed;
    width: 100%;
    top: 0%;
    left: 0%;
}

footer {
    margin: 0;
    padding: 0;
}

    footer ul {
        display: flex;
        text-align: center;
        position: absolute;
        align-items:  center;
    }

        footer ul li {
            background: #000;
            margin: 10px;
            list-style: none;
            font-size: 24px;
            transition: .5s;
        }

            footer ul li a {
                width: 60px;
                padding: 16px 0;
                display: block;
                color: #fff;
            }

            footer ul li:nth-child(1) {
                background: #3b5998;
            }

            footer ul li:nth-child(2) {
                background: #00aced;
            }

            footer ul li:nth-child(3) {
                background: #bc2a8d;
            }

            footer ul li:nth-child(4) {
                background: #007bb6;
            }

            footer ul li:hover {
                transform: translateY(-8px);
                box-shadow: 0 10px 10px rgba(0, 0, 0, .5);
            }

nav {
    background-color: red;
    margin: 0;
    overflow: hidden;
}
    nav ul {
        margin: 0;
        padding: 0;
        position:absolute;
    }
        nav ul li {
            /* This allow us to arrange list items in a row, without using float */
            display: inline-block;
            list-style-type: none;
        }

    /* Create a style for the first level items */
    nav > ul > li > a {
        color: #aaa;
        background-color: #FF0;
        display: block;
        line-height: 2em;
        padding: 0.5em 0.5em;
        text-decoration: none;
        article {
    background-color: #CC66FF;
    position: fixed;
    width: 80%;
    top: 10%;
    left: 20%;
}
img {
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin: 0px 0px auto 0px;
    width: 1012px;
    height: 1838px;
}

.outer {
    border: 1px solid #888;
    width: 100px;
    height: 100px;
}

.inner {
    display: table-cell;
    height: 100px;
    width: 100px;
    vertical-align: middle;
}
